@import url(https://fonts.googleapis.com/css?family=Montserrat);
@font-face {
    font-family: 'NotoBold';    
    src: url('./fonts/NotosansCJK/NotoSansCJKkr-Medium.eot');
    src: url('./fonts/NotosansCJK/NotoSansCJKkr-Medium.eot') format('embedded-opentype'),
    url('./fonts/NotosansCJK/NotoSansCJKkr-Medium.woff') format('woff');
    font-weight:bold;
}
@font-face {
    font-family: 'NotoM';    
    src: url('./fonts/NotosansCJK/NotoSansCJKkr-Regular.eot');
    src: url('./fonts/NotosansCJK/NotoSansCJKkr-Regular.eot') format('embedded-opentype'),
    url('./fonts/NotosansCJK/NotoSansCJKkr-Regular.woff') format('woff');
    font-weight:bold;
}
@font-face {
    font-family: 'NotoR';    
    src: url('./fonts/NotosansCJK/NotoSansCJKkr-DemiLight.eot');
    src: url('./fonts/NotosansCJK/NotoSansCJKkr-DemiLight.eot') format('embedded-opentype'),
    url('./fonts/NotosansCJK/NotoSansCJKkr-DemiLight.woff') format('woff');    
}
/* * { color:#000;} */
html {font-size: 62.5%; }
body.bodymain {
    overflow:hidden;
}
.container {
    background:#eaeaea;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.container header {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.container header .logo {
    font-weight:bold;
    font-size:4rem;
    color:transparent;  
    width:100px;
    height:100px;
    background:black;  
    position:fixed;
    top:50px;
    left:90px;
    animation:round 10s linear infinite;
    z-index:2;
}
svg.svgtext {
    display: block;
    font: 30em 'Montserrat';
    width: 200px;
    height: 100px;
    margin: 0 auto;
    position:fixed;
    top:50PX;
    left:50px;
    z-index:3;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}
.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}
.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}
.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}
.menu_rwrap {
    position:fixed;
    top:0px;
    right:0px;
    z-index:1;
}
.menu_rwrap .menu_box {
    position :absolute;
    top:50px;
    right:50px;
}
.menu_rwrap .menu {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    width: 40px;
    height: 40px;
    display: block;
    border: 2px solid #fff;
    box-sizing: border-box;     
    -webkit-box-sizing: border-box;   
    transition:all 0.4s ease-in-out;   
    -webkit-transition:all 0.4s ease-in-out;  
}
.menu_rwrap .menu:hover {
    background:#fff;
    color:#000;    
}
.menu_rwrap .menu span {
    position: absolute;
    display: inline-block;    
}
.menu_rwrap .menu span:nth-child(1){
    top: 5px;
    left: 7px;
}
.menu_rwrap .menu span:nth-child(2){
    top: 5px;
    right: 7px;
}
.menu_rwrap .menu span:nth-child(3){
    bottom: 5px;
    left: 7px;
}
.menu_rwrap .menu span:nth-child(4){
    bottom: 5px;
    right: 7px;
}
.menu_rwrap ul {
    display:none;
}
.menu_rwrap.open ul {    
    display:block;
    margin: 100px 35%;
    width:400px;    
}
.menu_rwrap.open ul li {
    margin-left:-100px;
    opacity:0;
    line-height:1.5;
    transition:all 0.3s ease-in-out;
}
.menu_rwrap.open ul li a {    
    color:#000;
    font-size:5rem;
    font-weight:bold;
}
.menu_rwrap.open ul li a:hover {
    -webkit-text-stroke : 1px #000;
    color:transparent;
}
.menu_rwrap.open ul li.on {
    margin-left:0;
    opacity : 1;
}
.menu_rwrap.open {
    top:0;
    bottom:0;
    right:0;
    left:0;
    background:#f4f4e7;
    z-index:1;
}
.menu_rwrap.open .menu {
    background:#000;
    color:#fff;
    transition:all 0.4s ease-in-out;
}
.menu_rwrap.open .menu:hover {
    background:#fff;
    color:#000;    
}

section.mainsection {     
    /* transform: translateY(0);     */
    position:relative; 
    width:100%;
    height:0;
    background:url('../images/img/background1.jpg') center no-repeat;    
    transition: all 0.5s ease-in;
    overflow:hidden;
    background-size:cover;
}
section.mainsection._1 {
    background-image: url('../images/portfolio_img/rating.pc_main.png');    
}
section.mainsection._2 {
    background-image: url('../images/portfolio_img/orbs.png');      
}
section.mainsection._3 {
    background-image: url('../images/portfolio_img/cast_pc.png');      
}
section.mainsection._4 {
    background-image: url('../images/portfolio_img/rooted_main.png');      
}
.whitecover {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,.5);
    z-index:0;
}
#page_1 {
    height:100vh;
}
section.prev{
    transform: translateY(-100vh);
}
section.on {
    height:100vh;
    
}
section .text_wrap {
    position:absolute;
    top:50%;  
    left:50%;
    transform:translate(-300px,30px);    
    text-align:center;    
}
section .text_wrap .textwrap { display:inline-block;}
section .text_wrap a {
    color:#fff;
    text-align:left;

}
section .text_wrap a span {
    display:inline-block;
}
section .text_wrap a span,section .text_wrap a h2 {
    margin-bottom:30px;
}
section .text_wrap a span:last-child {
    margin-bottom:0;
}
section .text_wrap a .tagname {
    font-size:14px;
    font-weight:bold;
    width:100%;
}
section .text_wrap a h2 {
    font-size:6rem;
    color:#fff;
    word-break: keep-all;
}
section .text_wrap a .companyname {    
    width:100%;
    font-size:6rem;
    -webkit-text-stroke : 2px #fff;
    color:transparent;
}
section .text_wrap a .viewname {
    font-size:14px;    
    color:#fff;
    text-decoration:none;
    transition: text-decoration 0.3s ease-in;
    position:relative;
    width:100%;

}
section .text_wrap a .viewname:after {
    content : '';
    display:inline-block;
    position:absolute;
    bottom:-2px;
    left:0px;
    width:0px;
    height:1px;    
    background:#fff;
    transition: width 0.3s ease-in-out;
}
/* section .text_wrap a .viewname:hover:after {
    width:100%;
} */

.pagenum_wrap { 
    position:fixed;
    right:10%; 
    bottom:10%; 
}
.pagenum_wrap span {
    color:#fff;
    font-size:1.5rem;
    font-weight:bold;
    /* padding-right:10px; */
}
.pagenum_wrap .nowpage {
    font-size:5rem;
}
.pagenum_wrap .line {
    padding-right:5px;
}
.btn_wrap {
    position:fixed;
    bottom:10%;
    left:50%;
    transform: translateX(-40px);
}
.btn_wrap a {
    display:inline-block;
    width:40px;
    height:40px;
    background: url('../images/icon/arrow.png') center no-repeat;
    background-size:100%;
}
.btn_wrap a.up {
    transform: rotate(-90deg);
}
.btn_wrap a.down {
    transform: rotate(90deg);
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}


@keyframes round {
    100% {
        transform : rotate(360deg);
    }    
}

/*font*/
.tit_xbig { 
    padding-bottom:20px; 
    font-size:10rem; 
    font-weight:bold; 
    font-family: 'Montserrat', sans-serif;
}
.tit_big { 
    font-size:40px; 
    font-weight:bold; 
    font-family: 'Montserrat', sans-serif;
}
.tit_mid {
    font-size:20px;
    font-family: 'NotoBold',sans-serif;    
}
.tit_small {
    font-size:18px;
    font-family: 'NotoM',sans-serif;    
}
.txt_mid {    
    font-size:18px; 
    font-family: 'Jua', sans-serif;
}
.txt_midkr {
    font-size:18px;
    font-family: 'NotoR',sans-serif;
}
.txt_small {
    font-size:16px;
    font-family: 'NotoR',sans-serif;
}
.txt_xsmall {
    font-size:14px;
    font-family: 'NotoR',sans-serif;
}
/*color*/
.color666 {
    color:#666;
}

/*margin*/
.mgb4 { margin-bottom:4px; }
.mgb6 { margin-bottom:6px; }
.mgb8 {margin-bottom:8px;}

/*padding*/
.pdt100 {padding-top: 100px;}


/**/
.wordbreak1 {
    word-break: keep-all;
}

/*about.html*/
.profile { 
    margin-bottom:21px; 
    padding-top:50px;
    text-align:center;
    transition: top 0.1s  ease-in-out;     
}
.profile .my_img {
    width:100%;  
}
.profile .my_img img {
    display:inline-block;
    width:100px;
    height:100px;
    background:#ff7f50;
    border-radius:50%;
    border : 1px solid #0000;  

}
.profile span {
    display:block;
    word-break: keep-all;
}
.fixed {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding:10px 0;
    background: #eff2f7;    
}
.profile.fixed .my_img {
    display:inline-block;
    width:auto;
    margin-bottom:0px;
}
.profile.fixed .my_img img {
    width:50px;
    height:50px;
}
.profile.fixed span{
    display:inline-block;
}
.profile.fixed > span > span {
    width:100%;
}



.thumnail_box { 
    margin-bottom:8px; 
    padding:24px;
    background:#fff;
    border: 1px solid #d9dfeb;
}
.thumnail_box ul li:last-child {
    border-bottom:none;
}
.thumnail {
    width:100%; 
    padding:12px 0;
    border-bottom: 1px solid #d9dfeb;
} 
.thumnail .logo_img {
    float:left;
    width:64px; 
    background:#ff7f50;
}
.thumnail .logo_img img{
    width:100%;    
}
.thumnail .thumnail_txt {
    float:left;    
    width:74%;
    padding-left:1.6rem;
}
.thumnail .thumnail_txt span {
    display:block;
    word-break: keep-all;    
}

/*Portfolio*/
.portfolio_page {
    width: 98%;
    margin: 0 auto;
}
.portfolio_page .tit_big {
    padding-top: 150px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.portfolio_thumnail {
    margin-top:55px;
}
.portfolio_thumnail ul {    

}
.portfolio_thumnail ul li {
    float:left;
    width:50%;
    min-width:300px;
    padding-right:3.5rem;
    margin-bottom:35px;
    /* background:pink; */
    overflow:hidden;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.portfolio_thumnail ul li:last-child,
.portfolio_thumnail ul li:nth-child(2n) {
    padding-right:0px;
}
.portfolio_thumnail ul li > a {
    display:block;
}
.portfolio_thumnail ul li .card_img {
    width:100%;
    height:260px;
    background:purple;
    overflow:hidden;
}
.portfolio_thumnail ul li .card_img > img {
    width:100%;
    height:260px;    
}
.portfolio_thumnail ul li .txtbox {
    padding:10px 5px;
    background: #fff;
    box-shadow: 5px 5px 15px #eaeaea;
}
.portfolio_thumnail ul li .txtbox span{
    display: block;
    height:40px;
    line-height:40px;   
    color:#000; 
}


/* sub page  */
.container.sub section { max-width:1200px; width:100%; margin: 0px auto; text-align:center; font-family:"NotoM",sans-serif; }
.container.sub h2 {margin-top:0px; font-size:4rem; font-weight:bold; color:#3e3e3e; top:30px; font-family:"Notobold",sans-serif; transition: top 0.4s ease-in; -webkit-transition: top 0.4s ease-in;}
.container.sub img {width:100%;}
.container.sub img.img_m { width:38%;}
.container.sub img.img_tablet  { width:60%; vertical-align:top;  }
.container.sub .h2_p { margin:1em 0 1.5em; font-size:16px; color:#444444;}
.container.sub .tit_p {margin:2.5em 0 1.5em; font-size:24px; color:#444444; font-weight:bold; font-family:"NotoR",sans-serif;  }
.container.sub p.text { margin:1.5em; line-height:1.5; text-align:left; font-size:16px; color:#444444; font-weight:bold; word-break: keep-all;}
.container.sub p.text a{ color:#ff6262; }
 .container.sub .header_wrapper {}
.container.sub .header_wrapper.fix { background:#fff; }
.container.sub .header_wrapper.fix .header .nav { position: fixed; height:80px; background: #fff; box-shadow: 0px 0 10px rgba(0,0,0,0.3); z-index:1; }
.container.sub .header_wrapper .header .nav li a:hover, .container.sub .header_wrapper .header .nav li a.on { color:#00bdff; }
.container.sub .nav h2 { text-indent: -9999px; font-family:"Malgun Gothic","맑은 고딕",dotum,"돋움",sans-serif;}
.container.sub .nav h2.fix { display:inline-block; position: fixed; top: 0; left: 0; max-width:1920px; width:100%; text-align:center; z-index:1; text-indent: inherit; line-height:80px; }
.container.sub video { max-width:100%; }

.profile.fixed h2 {font-size:2rem;}

/*sub scroll*/
.container.scroll header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 5px 5px 30px #eaeaea;
    z-index:1;
}
 .container.scroll svg.svgtext {
    top: 0px;
    left: 20px;
    height: 80px;    
}
.container.scroll header .logo {
    display: none;
}
.container.scroll .menu_rwrap .menu_box {
    top: 20px;
}
/* .container.scroll .portfolio_page .tit_big {
    position: fixed;
    top: 20px;
    left: 230px;
    padding-top: 0;
}  */


/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/

@media (min-width: 1281px) {
       
}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    svg.svgtext {display: none;}
    .logo {display: none;}     
    
    /* section .text_wrap a {text-align:left;} */
    

}

/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) {
    svg.svgtext {display: none;}
    .logo {display: none;} 
    section .text_wrap {width:80%;} 





}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    svg.svgtext {display: none;}
    .logo {display: none;}   

}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/

@media (min-width: 481px) and (max-width: 767px) {
    html {font-size:31.25%;}
    svg.svgtext {display: none;}
    .logo {display: none;}    
    .menu_rwrap .menu_box {top:20px; right:20px;}
    section .text_wrap {width:80%;}
    section .text_wrap a .companyname {
        -webkit-text-stroke: inherit;
        color:#fff;
    }

    /* .main > div {
        width:100%;
    }  
    .portfolio_thumnail ul li {
        width:100%;
        padding-right:0px;
    } */

}
@media (min-width: 320px) and (max-width: 629px) {
    html {font-size:31.25%;}
    svg.svgtext {display: none;}
    .logo {display: none;}    
    .menu_rwrap .menu_box {top:20px; right:20px;}
    section .text_wrap {width:80%;}
    .portfolio_thumnail ul li { width:100%; padding-right:0;}
    section .text_wrap a .companyname {
        -webkit-text-stroke: inherit;
        color:#fff;
    }
    /* .main > div {
        width:100%;
    }  
    .portfolio_thumnail ul li {
        width:100%;
        padding-right:0px;
    } */

}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media (min-width: 320px) and (max-width: 480px) {
    .main > div {
        width:100%;
    }
    section .text_wrap a .companyname {
        -webkit-text-stroke: inherit;
        color:#fff;
    }
    /* html {font-size:31.25%;}
    svg.svgtext {display: none;}
    .logo {display: none;}
    .menu_rwrap .menu_box {top:20px; right:20px;}
    section .text_wrap {width:80%;} */



}


